body {
    margin: 0;
    
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Container 
++++++++++++++++++++++++++++++++++++++++++++*/

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0;
    padding: 0 50px 0 100px;
}

/* header 
++++++++++++++++++++++++++++++++++++++++++++*/

.header {
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: #2768aa;
}

.header.fixed {
    display: none;
    
    position: fixed;
    
    width: 100%;
}

.header__inner {
    width: 100%;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2768aa;
    
}

/* nav
++++++++++++++++++++++++++++++++++++++++++++*/

.nav {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    
    cursor: pointer;
}

.nav__link {
    margin-left: 35px;
    color: #fff;
    text-decoration: none;
    opacity: 0.75;
    
    transition: opacity .1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
    text-decoration: underline;
}

.nav__link:hover {
    transform: translateY(-5px);
    transition: .2s linear;
}


.header__logo {
    background-color: #2768aa;
    margin-right: 20px;
}

/* Title+++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++*/

.title-container {
    width: 100%;
    margin: 0;
    
}

.title {
    margin: 0;
    
    width: 100%;
    background-color: #2768aa;
}

.title__block {
    margin: 0;
    
    
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    background-color: #2768aa;
    text-align: center;
    position: relative;
    
}

.main__title {
    margin: 0;
    
    width: 100%;
    height: 100px;
    font-size: 4rem;
    
    color: #fff;
    
}

.for__title{
    margin: 0;
    padding-bottom: 50px;
    
    width: 100%;
    height: 50px;
    align-content: center;
    font-size: 2rem;
}

.title__color {
    margin: 0 0 0 0;
    padding: 0;
    
    
    width: 100%;
    height: 50px;
    background-color: #f5cf00;
    
}

/* intro
++++++++++++++++++++++++++++++++++++++++++++*/

.intro {
    display: flex;
    flex-wrap: wrap;
    background-color: #2768aa;
}

#reviewsSlider {
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: 700px;
    left: auto;
    position: relative;
    overflow: hidden;
}

.slick-item {
    width: 100%;
    cursor: pointer;
}

.intro__item {
    margin-right: 0;
    display: block;
    flex-wrap: wrap;
    width: 100%;
    height: 890px;
    position: relative;
    overflow: hidden;
    
}

.intro__description {
    display: flex;
    flex-direction: column;
    
    cursor: auto;
    
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    height: 555px;
    width: 50%;
    z-index: 1;
}

h3 {
    font-size: 1rem;
    margin: 0;
    line-height: 4rem;
}

.intro__desc {
    margin: 0;
    top: 0;
    left: 0;
    
    font-size: .9rem;
    color: #fff;
    line-height: 1.5rem;
    text-align: left;
}

ul {
    padding: 0 0 20px 0;
    list-style: none;
    
    font-size: 14px;
    line-height: 3;
}

.intro__item-map {
    margin-right: 0;
    margin-top: 50px;
    padding-right: 10px;
    
    display: flex;
    width: 100%;
}

.backmut-map {
    text-align: right;
    width: 100%;
}

.intro__item-1 {
    width: 35%;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.button-map {
    display: none;
}

.img-map {
    display: none;
}

.intro__photo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 0; 
    width: 565px;
    height: 700px;
    z-index: 1;
      
    transform: translate3d(-50%, -50%, 0);
}


.intro__photo-decor {
    width: 100%;
    height: 100%;
}


.slick-dots {
    margin: 0;
    width: 100%;
    padding: 20px;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #f5cf00;
    z-index: 2;
}

.slick-dots li {
    margin: 0 10px;
    list-style-type: none;
}

.slick-dots button {
    width: 20px;
    height: 20px;
    
    background: #fff;
    border-radius: 50%;
    border-color: #fff;
    border: 0;
    padding: 0;
    opacity: .5;
    cursor: pointer;
    
    font-size: 0;
    color: transparent;
}

.slick-dots .slick-active button {
    opacity: 1;
    
    transition: opacity .1s linear;
}

.slick-dots button:focus {
    outline: 0;
}



/* gallery
++++++++++++++++++++++++++++++++++++++++++++*/

.galary {
    margin: 0;
    
    position: relative;
    height: 725px;
    overflow: hidden;
}

#galarySlider {
    position: relative;
    
    height: 725px;
    overflow: hidden;
}

.slick-prev {
    position: absolute;
    left: 30px;
    margin-top: 400px;
    z-index: 10;
    
    cursor: pointer;
    
    color: #fff;
    width: 100px;
    height: 40px;
    font-size: 14px;
    justify-content: center;
    opacity: .5;
    transition: opacity .1s linear;
    background-color: transparent;
    border: none;
    border-style: none;
    
    outline: 2px solid #fff;
}

.slick-prev:hover {
    opacity: 1;
}


.slick-next {
    position: absolute;
    right: 30px;
    margin-top: -650px;
    z-index: 10;
    
    cursor: pointer;
    
    color: #fff;
    width: 100px;
    height: 40px;
    font-size: 14px;
    justify-content: center;
    opacity: .5;
    transition: opacity .1s linear;
    background-color: transparent;
    border: none;
    border-style: none;
    
    outline: 2px solid #fff;
}

.slick-next:hover {
    opacity: 1;
}

.galary__pict1 {
    display: flex;
    position: relative;
    z-index: 50;
    justify-content: center;
}

.galary__text-in {
    top: 25%;
    left: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    
    transform: translate3d(-25%, -35%, 0);
    
    position: absolute;
    z-index: 100;
}

h4 {
    margin-bottom: 0;
    
    font-size: 3.2rem;
    font-family: sans-serif;
    color: #fff;
    z-index: 10;
    text-align: center;
}

p {
    font-size: 2.2rem;
    color: #fff;
    text-align: center;
}

.galary__pict2 {
    position: absolute;
    z-index: 1;
}


/* inform
++++++++++++++++++++++++++++++++++++++++++++*/

.inform {
    margin: 0 auto;
    padding: 200px 0 200px 0;
    background-color: #fff;
    
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
}

#text-inform {
    margin: 0 400px 0 400px;
    
    display: flex;
    font-size: 40px;
    line-height: 1.4;
    font-weight: 700;
    font-family: sans-serif;
    color: #1D5794;
    text-align: center;
}
#text-add {
    margin: 0 400px 0 400px;
    padding-top: 40px;
    
    display: flex;
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #738CA6;
}


.inform__circle {
    max-width: 1300px;
    margin: 0 auto;
}

.wrapper-circle {
    margin-top: 100px;
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.circle {
    margin: 0;
    width: 33.3%;
    align-items: center;
}

.circle:hover {
    transform: translateY(-5px);
    transition: transform .2s linear;
}

.circle__blue {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.circle__blue-border {
    margin: 0;
    
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: #1D5794;
    color: #fff;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 400;
    
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    border-radius: 50%;
    
    transition: opacity 0.2s linear, background 0.2s linear;
}

.circle__blue-border:hover {
    opacity: 0.5;
    background: #738CA6;
}

.circle__blue-border__num {
    font-size: 50px;
}

.circle__blue-desc {
    margin: 10px 0 0 0;
    top: 0;
    left: 0;
    
    font-size: 20px;
    font-weight: 300;
    font-family: sans-serif;
    color: #1D5794;
    text-align: center;
}

/*Yellow */


.circle__yellow {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.circle__yellow-border {
    margin: 0;
    
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: #F6CF00;
    color: #1D5794;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 200;
    
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    border-radius: 50%;
    
    transition: opacity 0.2s linear, background 0.2s linear;
}

.circle__yellow-border:hover {
    opacity: 0.5;
    background: #738CA6;
}

.circle__yellow-border__num {
    font-size: 50px;
}

.circle__yellow-border__text {
    text-align: center;
}

.circle__yellow-desc {
    margin: 10px 0 0 0;
    top: 0;
    left: 0;
    
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    color: #1D5794;
    text-align: center;
}


/* White */

.circle__white {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.circle__white-border {
    margin: 0;
    
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: #fff;
    color: #1D5794;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 300;
    
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    border-radius: 50%;
    border-style: dotted;
    
    transition: opacity 0.2s linear, background 0.2s linear;
}

.circle__white-border:hover {
    opacity: 0.5;
    background: #738CA6;
}

.circle__white-border__num {
    font-size: 50px;
}

.circle__white-border__text {
    text-align: center;
    font-size: 30px;
}

.circle__white-desc {
    margin: 10px 0 0 0;
    top: 0;
    left: 0;
    
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
    color: #1D5794;
    text-align: center;
}

/* footer
++++++++++++++++++++++++++++++++++++++++++++*/

.footer {
    padding-top: 100px;
    padding-bottom: 40px;
    
   
    
    display: flex;
    flex-wrap: wrap;
    
    background-color: #2768aa;
}

.footer__wrap {
    margin: 0;
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 300;
    color: #fff;
    
    justify-content: space-between;
}

.footer__wrap-nav {
    margin: 0;
    align-content: center;
    width: 33.3%;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    padding-left: 50%;
    
    left: 0;
    top: 0;
    
    width: 100%;
}


.refer-to {
    margin-bottom: 20px;
    
    
    color: #fff;
    text-decoration: none;
}

.refer-to:hover {
    text-decoration: underline;
}


.footer__logo {
    margin: 0;
    
    width: 33.3%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.copyright-text {
    margin-top: 15px;
    
    display: flex;
    flex-direction: column;
}

#text {
    margin: 0;
    
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.footer__wrap-contacts {
    margin: 0;
    
    width: 33.3%;
}

.footer__contacts {
    margin: 0;
    padding-right: 50%;
    
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
    
    width: 100%;
}


/* Burger
*********************************************/

.burger {
    display: none;
    padding: 9px 2px;
    
    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    
    background-color: #fff;
    
    font-size: 0;
    color: transparent;
    
    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;
    
    background-color: #fff;
    
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}

/* media
++++++++++++++++++++++++++++++++++++++++++++*/

@media (max-width: 1524px) {
    
    /* Intro description
    **************************************/
    
    .intro {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        height: 700px;
    }
    
    #reviewsSlider {
        display: block;
        width: 100%;
        position: relative;
        z-index: 10;
        height: 700px;
    }
    
    .slick-item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 700px;
    }
    
    .intro__item-1 {
        width: 100%;
        display: none;
        position: absolute;
        height: 700px;
    }
}

@media (max-width: 1250px) {
    
    /* Wrapper
    ***************************************/
    
    #text-inform {
        font-size: 30px;
    }
    
    #text-add {
        font-size: 15px;
    }
}

@media (max-width: 1182px){
    
    .footer__contacts{
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}

@media (max-width: 950px) {
    
    /* Nav
    ***************************************/
    
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        
        text-align: left;
        background-color: #2768aa;
        
        left: 0;
        top: 100%;
        flex-direction: column;
    }
    
    .nav.show {
        display: flex;
    }
    
    .nav__link {
        padding: 10px 10px;
    }
    
    .burger {
        color: #fff;
        display: block;
    }
    
    .header.fixed {
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
        position: fixed;
    
        width: 100%;
    }
    
    /* Main title 
    ***************************************/
    .main__title {
        font-size: 2rem;
    }
    
    /* Intro
    ***************************************/
    
    .slick-item {
        width: 100%;
    }
    
    .intro__item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        padding: 0;
    }
    
    .intro__description {
        display: block;
        width: 100%;
    }
    
    .intro__item-map {
        display: none;
    }
    
    /* Works only with media queries
    ****************************************************/
    
    .button-map {
        display: block;
        padding: 15px;
        
        border: 0;
        border-style: none;
        outline: none;
        border-bottom-style: none;

        text-decoration: none;
        
        cursor: pointer;
        
        font-size: 20px;
        font-weight: 400;
        color: #007bff;
        background-color: #f5cf00;
        bottom: 100px;
        left: 0;
        position: absolute;
        z-index: 10;
        
    }
    
    .button-map:active {
        border: 0;
    }
    
    #btn {
        text-decoration: none;
        border-bottom-style: none;
        outline: none;
        border: 0;
    }
    
    .img-map {
        display: flex;
        bottom: 500px;
        right: 0;
        
        justify-content: space-around;
    }
    
    /* Gallery
    ***************************************/
    
    h4 {
        font-size: 2.5rem;
    }
    
    p {
        font-size: 1.8rem;
    }
    
    /* Inform section 
    ***************************************/
    
    #text-inform {
        margin: 0 200px 0 115px;
        
        font-size: 25px;
    }
    
    #text-add {
        margin: 0 200px 0 115px;
        
        font-size: 15px;
    }
    
    .wrapper-circle {
        display: flex;
        flex-wrap: wrap;
    }
    
    .circle {
        width: 50%;
    }
}


@media (max-width: 769px) {
    
    /* Main title 
    ***************************************/
    .title {
        height: auto;
    }
    
    .main__title {
        font-size: 1.8rem;
    }
    
    .for__title {
        font-size: 1.6rem;
    }
    
    .title__color {
        margin-top: 20px;
    }
    
    .img-map {
        display: none;
    }
    
    /* Inform section 
    ***************************************/
    
    .wrapper-circle {
        display: flex;
        flex-wrap: wrap;
    }
    
    .circle {
        width: 100%;
        margin-bottom: 20px;
    }
    
    /* Footer section 
    ***************************************/
    
    .footer__wrap {
        display: flex;
        flex-direction: column;
        align-content: center;
        
        font-size: 14px;
    }
    
    .footer__wrap-nav {
        font-size: 16px;
    }
    
    .footer__nav {
        padding: 0;
        text-align: center;
    }
    
    .footer__logo {
        margin-top: 20px;
    }
    
    .footer__wrap-contacts {
        display: none;
    }
}
